@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@import "tailwindcss";

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

img {
  background-color: transparent !important;
}


.heading {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem;
  position: relative;
  width: max-content;
}

@media screen and (min-width: 968px) {
  .heading {
    font-size: 6rem;
  }
}

@property --hoverVideo {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.bg-video {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: var(--hoverVideo);
}

@property --roamX {
  syntax: "<percentage>";
  initial-value: 20%;
  inherits: false;
}


@property --roamY {
  syntax: "<percentage>";
  initial-value: 20%;
  inherits: false;
}


.check:hover {
  --hoverVide: 100%;
}

.heading::after {
  content: '';
  background: conic-gradient(red, blue);
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: -35px;
}

.roamer {
  position: absolute;
  animation: roam 10s infinite;
  background: transparent;
  top: var(--roamY);
  left: var(--roamX);
}

.roamer::before {
  position: relative;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  background-color: yellow;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes roam {
  0% {
    --roamX: 10%;
    --roamY: 10%;
  }

  50% {
    --roamX: 90%;
    --roamY: 90%;
  }

  100% {
    --roamX: 10%;
    --roamY: 10%;
  }
}